{
    "file": 1,
    "format": 1
}{
    "add_paused": {{ lower (default .Env.DELUGE_ADD_PAUSED "false") }},
    "allow_remote": {{ lower (default .Env.DELUGE_ALLOW_REMOTE "false") }},
    "auto_manage_prefer_seeds": {{ lower (default .Env.DELUGE_AUTO_MANAGE_PREFER_SEEDS "false") }},
    "auto_managed": {{ lower (default .Env.DELUGE_AUTO_MANAGED "true") }},
    "cache_expiry": {{ default .Env.DELUGE_CACHE_EXPIRY "60" }},
    "cache_size": {{ default .Env.DELUGE_CACHE_SIZE "512" }},
    "copy_torrent_file": {{ lower (default .Env.DELUGE_COPY_TORRENT_FILE "true") }},
    "daemon_port": {{ default .Env.DELUGE_DAEMON_PORT "58846" }},
    "del_copy_torrent_file": {{ lower (default .Env.DELUGE_DEL_COPY_TORRENT_FILE "false") }},
    "dht": {{ lower (default .Env.DELUGE_DHT "true") }},
    "dont_count_slow_torrents": {{ lower (default .Env.DELUGE_DONT_COUNT_SLOW_TORRENTS "false") }},
    "download_location": "{{ default .Env.TOR_INCOMPLETE_DIR "/data/incomplete" }}",
    "download_location_paths_list": [],
    "enabled_plugins": [{{ default .Env.DELUGE_ENABLED_PLUGINS "" }}],
    "enc_in_policy": {{ default .Env.DELUGE_ENC_IN_POLICY "1" }},
    "enc_level": {{ default .Env.DELUGE_ENC_LEVEL "2" }},
    "enc_out_policy": {{ default .Env.DELUGE_ENC_OUT_POLICY "1" }},
    "geoip_db_location": "{{ default .Env.DELUGE_GEOIP_DB_LOCATION "1" }}",
    "ignore_limits_on_local_network": {{ lower (default .Env.DELUGE_IGNORE_LIMITS_ON_LOCAL_NETWORK "true") }},
    "info_sent": 0.0,
    "listen_interface": "{{ default .Env.DELUGE_LISTEN_INTERFACE "0.0.0.0" }}",
    "listen_ports": [ {{ default .Env.DELUGE_PEER_LISTEN_PORTS "53242,53242" }} ],
    "listen_random_port": {{ default .Env.DELUGE_RANDOM_PEER_PORT "null" }},
    "listen_reuse_port": {{ lower (default .Env.DELUGE_LISTEN_REUSE_PORT "true") }},
    "listen_use_sys_port": {{ lower (default .Env.DELUGE_LISTEN_USE_SYS_PORT "false") }},
    "lsd": {{ lower (default .Env.DELUGE_LSD "true") }},
    "max_active_downloading": {{ default .Env.DELUGE_MAX_ACTIVE_DOWNLOADING "5" }},
    "max_active_limit": {{ default .Env.DELUGE_MAX_ACTIVE_LIMIT "10" }},
    "max_active_seeding": {{ default .Env.DELUGE_MAX_ACTIVE_SEEDING "7" }},
    "max_connections_global": {{ default .Env.DELUGE_MAX_CONNECTIONS_GLOBAL "200" }},
    "max_connections_per_second": {{ default .Env.DELUGE_MAX_CONNECTIONS_PER_SECOND "20" }},
    "max_connections_per_torrent": {{ default .Env.DELUGE_MAX_CONNECTIONS_PER_TORRENT "-1" }},
    "max_download_speed": {{ default .Env.DELUGE_MAX_DOWNLOAD_SPEED "-1.0" }},
    "max_download_speed_per_torrent": {{ default .Env.DELUGE_MAX_DOWNLOAD_SPEED_PER_TORRENT "-1" }},
    "max_half_open_connections": {{ default .Env.DELUGE_MAX_HALF_OPEN_CONNECTIONS "50" }},
    "max_upload_slots_global": {{ default .Env.DELUGE_MAX_UPLOAD_SLOTS_GLOBAL "4" }},
    "max_upload_slots_per_torrent": {{ default .Env.DELUGE_MAX_UPLOAD_SLOTS_PER_TORRENT "-1" }},
    "max_upload_speed": {{ default .Env.DELUGE_MAX_UPLOAD_SPEED "-1.0" }},
    "max_upload_speed_per_torrent": {{ default .Env.DELUGE_MAX_UPLOAD_SPEED_PER_TORRENT "-1" }},
    "move_completed": {{ lower (default .Env.DELUGE_MOVE_COMPLETED "true") }},
    "move_completed_path": "{{ default .Env.TOR_DOWNLOAD_DIR "/data/completed" }}",
    "move_completed_paths_list": [],
    "natpmp": {{ lower (default .Env.DELUGE_NATPMP "true") }},
    "new_release_check": false,
    "outgoing_interface": "{{ lower (default .Env.DELUGE_OUTGOING_INTERFACE "0.0.0.0") }}",
    "outgoing_ports": [ {{ default .Env.DELUGE_PEER_OUTGOING_PORTS "45535,65535" }} ],
    "path_chooser_accelerator_string": "Tab",
    "path_chooser_auto_complete_enabled": true,
    "path_chooser_max_popup_rows": 20,
    "path_chooser_show_chooser_button_on_localhost": true,
    "path_chooser_show_hidden_files": false,
    "peer_tos": "{{ default .Env.DELUGE_PEER_TOS "0x00" }}",
    "plugins_location": "{{ default .Env.DELUGE_HOME "/data/deluge-home" }}/plugins",
    "pre_allocate_storage": {{ lower (default .Env.DELUGE_PRE_ALLOCATE_STORAGE "false") }},
    "prioritize_first_last_pieces": {{ lower (default .Env.DELUGE_PRIORITIZE_FIRST_LAST_PIECES "false") }},
    "proxy": {
        "anonymous_mode": {{ lower (default .Env.DELUGE_PROXY_ANONYMOUS_MODE "false") }},
        "force_proxy": {{ lower (default .Env.DELUGE_PROXY_FORCE_PROXY "false") }},
        "hostname": "{{ default .Env.DELUGE_PROXY_HOSTNAME "" }}",
        "password": "{{ default .Env.DELUGE_PROXY_PASSWORD "" }}",
        "port": {{ default .Env.DELUGE_PROXY_PORT "8080" }},
        "proxy_hostnames": {{ lower (default .Env.DELUGE_PROXY_PROXY_HOSTNAMES "true") }},
        "proxy_peer_connections": {{ lower (default .Env.DELUGE_PROXY_PROXY_PEER_CONNECTIONS "true") }},
        "proxy_tracker_connections": {{ lower (default .Env.DELUGE_PROXY_PROXY_TRACKER_CONNECTIONS "true") }},
        "type": {{ default .Env.DELUGE_PROXY_TYPE "0" }},
        "username": "{{ default .Env.DELUGE_PROXY_USERNAME "" }}"
    },
    "queue_new_to_top": {{ lower (default .Env.DELUGE_QUEUE_NEW_TO_TOP "false") }},
    "random_outgoing_ports": {{ lower (default .Env.DELUGE_RANDOM_OUTGOING_PORTS "true") }},
    "random_port": {{ lower (default .Env.DELUGE_RANDOM_PORT "false") }},
    "rate_limit_ip_overhead": {{ lower (default .Env.DELUGE_RATE_LIMIT_IP_OVERHEAD "true") }},
    "remove_seed_at_ratio": {{ lower (default .Env.DELUGE_REMOVE_SEED_AT_RATIO "false") }},
    "seed_time_limit": {{ default .Env.DELUGE_SEED_TIME_LIMIT "180" }},
    "seed_time_ratio_limit": {{ default .Env.DELUGE_SEED_TIME_RATIO_LIMIT "7.0" }},
    "send_info": false,
    "sequential_download": {{ lower (default .Env.DELUGE_SEQUENTIAL_DOWNLOAD "false") }},
    "share_ratio_limit": {{ default .Env.DELUGE_SHARE_RATIO_LIMIT "2.0" }},
    "shared": false,
    "stop_seed_at_ratio": {{ lower (default .Env.DELUGE_STOP_SEED_AT_RATIO "false") }},
    "stop_seed_ratio": {{ default .Env.DELUGE_STOP_SEED_RATIO "2.0" }},
    "super_seeding": {{ lower (default .Env.DELUGE_SUPER_SEEDING "false") }},
    "torrentfiles_location": "{{ default .Env.TOR_WATCH_DIR "/data/watch" }}",
    "upnp": {{ lower (default .Env.DELUGE_UPNP "true") }},
    "utpex": {{ lower (default .Env.DELUGE_UTPEX "true") }}
}
