{
    "file": 3,
    "format": 1
}{
    "hosts": [
        [
            "bd22c67dd636483a967aa7488137f334",
            "127.0.0.1",
            {{ .Env.DELUGE_DAEMON_PORT }},
            "{{ .Env.DELUGE_AUTH_USERNAME }}",
            "{{ .Env.DELUGE_AUTH_PASSWORD }}"
        ]
    ]
}
