{
    "alt-speed-enabled": {{ lower (default .Env.TRANSMISSION_ALT_SPEED_ENABLED "false") }},
    "alt-speed-up": {{ default .Env.TRANSMISSION_ALT_SPEED_UP "50" }},
    "alt-speed-down": {{ default .Env.TRANSMISSION_ALT_SPEED_DOWN "50" }},
    "speed-limit-down": {{ default .Env.TRANSMISSION_SPEED_LIMIT_DOWN "100" }},
    "speed-limit-down-enabled": {{ lower (default .Env.TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED "false") }},
    "speed-limit-up": {{ default .Env.TRANSMISSION_SPEED_LIMIT_UP "100" }},
    "speed-limit-up-enabled": {{ lower (default .Env.TRANSMISSION_SPEED_LIMIT_UP_ENABLED "false") }},
    "upload-slots-per-torrent": {{ default .Env.TRANSMISSION_UPLOAD_SLOTS_PER_TORRENT "14" }},
    "blocklist-url": "{{ default .Env.TRANSMISSION_BLOCKLIST_URL "http://www.example.com/blocklist" }}",
    "blocklist-enabled": {{ lower (default .Env.TRANSMISSION_BLOCKLIST_ENABLED "false") }},
    "download-dir": "{{ default .Env.TOR_DOWNLOAD_DIR "/data/completed" }}",
    "incomplete-dir": "{{ default .Env.TOR_INCOMPLETE_DIR "/data/incomplete" }}",
    "incomplete-dir-enabled": {{ lower (default .Env.TRANSMISSION_INCOMPLETE_DIR_ENABLED "true") }},
    "preallocation": {{ default .Env.TRANSMISSION_PREALLOCATION "1" }},
    "rename-partial-files": {{ lower (default .Env.TRANSMISSION_RENAME_PARTIAL_FILES "true") }},
    "start-added-torrents": {{ lower (default .Env.TRANSMISSION_START_ADDED_TORRENTS "true") }},
    "trash-original-torrent-files": {{ lower (default .Env.TRANSMISSION_TRASH_ORIGINAL_TORRENT_FILES "false") }},
    "umask": {{ default .Env.TRANSMISSION_UMASK "2" }},
    "watch-dir": "{{ default .Env.TOR_WATCH_DIR "/data/watch" }}",
    "watch-dir-enabled": {{ lower (default .Env.TRANSMISSION_WATCH_DIR_ENABLED "true") }},
    "cache-size-mb": {{ default .Env.TRANSMISSION_CACHE_SIZE_MB "4" }},
    "dht-enabled": {{ lower (default .Env.TRANSMISSION_DHT_ENABLED "true") }},
    "encryption": {{ default .Env.TRANSMISSION_ENCRYPTION "1" }},
    "lazy-bitfield-enabled": {{ lower (default .Env.TRANSMISSION_LAZY_BITFIELD_ENABLED "true") }},
    "lpd-enabled": {{ lower (default .Env.TRANSMISSION_LPD_ENABLED "false") }},
    "message-level": {{ default .Env.TRANSMISSION_MESSAGE_LEVEL "2" }},
    "pex-enabled": {{ lower (default .Env.TRANSMISSION_PEX_ENABLED "true") }},
    "prefetch-enabled": {{ lower (default .Env.TRANSMISSION_PREFETCH_ENABLED "true") }},
    "scrape-paused-torrents-enabled": {{ lower (default .Env.TRANSMISSION_SCRAPE_PAUSED_TORRENTS_ENABLED "true") }},
    "script-torrent-done-enabled": {{ lower (default .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_ENABLED "false") }},
    "script-torrent-done-filename": "{{ default .Env.TRANSMISSION_SCRIPT_TORRENT_DONE_FILENAME "" }}",
    "utp-enabled": {{ lower (default .Env.TRANSMISSION_UTP_ENABLED "true") }},
    "bind-address-ipv4": "{{ default .Env.TRANSMISSION_BIND_ADDRESS_IPV4 "0.0.0.0" }}",
    "bind-address-ipv6": "{{ default .Env.TRANSMISSION_BIND_ADDRESS_IPV6 "::" }}",
    "peer-congestion-algorithm": "{{ default .Env.TRANSMISSION_PEER_CONGESTION_ALGORITHM "" }}",
    "peer-id-ttl-hours": {{ default .Env.TRANSMISSION_PEER_ID_TTL_HOURS "6" }},
    "peer-limit-global": {{ default .Env.TRANSMISSION_PEER_LIMIT_GLOBAL "240" }},
    "peer-limit-per-torrent": {{ default .Env.TRANSMISSION_PEER_LIMIT_PER_TORRENT "60" }},
    "peer-socket-tos": "{{ default .Env.TRANSMISSION_PEER_SOCKET_TOS "default" }}",
    "peer-port": {{ default .Env.TRANSMISSION_PEER_PORT "51413" }},
    "peer-port-random-high": {{ default .Env.TRANSMISSION_PEER_PORT_RANDOM_HIGH "65535" }},
    "peer-port-random-low": {{ default .Env.TRANSMISSION_PEER_PORT_RANDOM_LOW "45535" }},
    "peer-port-random-on-start": {{ lower (default .Env.TRANSMISSION_PEER_PORT_RANDOM_ON_START "false") }},
    "port-forwarding-enabled": {{ lower (default .Env.TRANSMISSION_PORT_FORWARDING_ENABLED "false") }},
    "download-queue-enabled": {{ lower (default .Env.TRANSMISSION_DOWNLOAD_QUEUE_ENABLED "true") }},
    "download-queue-size": {{ default .Env.TRANSMISSION_DOWNLOAD_QUEUE_SIZE "6" }},
    "queue-stalled-enabled": {{ lower (default .Env.TRANSMISSION_QUEUE_STALLED_ENABLED "true") }},
    "queue-stalled-minutes": {{ default .Env.TRANSMISSION_QUEUE_STALLED_MINUTES "30" }},
    "seed-queue-enabled": {{ lower (default .Env.TRANSMISSION_SEED_QUEUE_ENABLED "false") }},
    "seed-queue-size": {{ default .Env.TRANSMISSION_SEED_QUEUE_SIZE "10" }},
    "rpc-authentication-required": {{ lower (default .Env.TRANSMISSION_RPC_AUTHENTICATION_REQUIRED "true") }},
    "rpc-bind-address": "{{ default .Env.TRANSMISSION_RPC_BIND_ADDRESS "0.0.0.0" }}",
    "rpc-enabled": {{ lower (default .Env.TRANSMISSION_RPC_ENABLED "true") }},
    "rpc-host-whitelist": "{{ default .Env.TRANSMISSION_RPC_HOST_WHITELIST "" }}",
    "rpc-host-whitelist-enabled": {{ lower (default .Env.TRANSMISSION_RPC_HOST_WHITELIST_ENABLED "true") }},
    "rpc-password": "{{ default .Env.TRANSMISSION_RPC_PASSWORD "password" }}",
    "rpc-port": {{ default .Env.TOR_RPC_PORT "9091" }},
    "rpc-url": "{{ default .Env.TRANSMISSION_RPC_URL "/transmission/" }}",
    "rpc-username": "{{ default .Env.TRANSMISSION_RPC_USERNAME "username" }}",
    "rpc-whitelist": "{{ default .Env.TRANSMISSION_RPC_WHITELIST "127.0.0.1" }}",
    "rpc-whitelist-enabled": {{ lower (default .Env.TRANSMISSION_RPC_WHITELIST_ENABLED "true") }},
    "alt-speed-time-enabled": {{ lower (default .Env.TRANSMISSION_ALT_SPEED_TIME_ENABLED "false") }},
    "alt-speed-time-begin": {{ default .Env.TRANSMISSION_ALT_SPEED_TIME_BEGIN "540" }},
    "alt-speed-time-end": {{ default .Env.TRANSMISSION_ALT_SPEED_TIME_END "1020" }},
    "alt-speed-time-day": {{ default .Env.TRANSMISSION_ALT_SPEED_TIME_DAY "127" }},
    "idle-seeding-limit": {{ default .Env.TRANSMISSION_IDLE_SEEDING_LIMIT "30" }},
    "idle-seeding-limit-enabled": {{ lower (default .Env.TRANSMISSION_IDLE_SEEDING_LIMIT_ENABLED "false") }},
    "ratio-limit": {{ default .Env.TRANSMISSION_RATIO_LIMIT "2" }},
    "ratio-limit-enabled": {{ lower (default .Env.TRANSMISSION_RATIO_LIMIT_ENABLED "false") }}
}
